@import '../../styles.scss';

.tab-container{
    background: $tabs-manager-background;
    display: flex;
    justify-content: space-between;
    max-width: 100vw !important;
    .template-container-parent{
        display: flex;
        flex: 1;
        overflow: hidden;
        // margin-left: 10px;
        margin-right: 10px;
        .template-container{
            display: flex;
            max-width: 100%;
            overflow: hidden;
        }
    }
}

button{
    background: transparent;
    border: none;
    margin-right: 10px;
}