<div class="tab-container">
    <button *ngIf = "showLeftChevron && !isStartTabActive" (click) = "scrollToLeft()" [disabled] = "disableLeftChevron"> <i class="fas fa-chevron-left"></i> </button>
    <div class="template-container-parent">
        <div class="template-container" #tabsContainer>
            <template #sliderContainer class="tab-template">
            </template>
        </div>
    </div>
    <button *ngIf = "showRighttChevron && !isLastTabActive" (click) = "scrollToRight()"> <i class="fas fa-chevron-right"></i> </button>
    <button (click) = "addTab()"> <i class="fas fa-plus"></i></button>
</div>


<app-alert id = "alert-1" [alertData] = "alertData">
</app-alert>