.tab {
    min-width: 100px;
    display: flex;
    justify-content: center;

    p{
        width: 100%;
        text-align: center;
    }

    .delete-btn{
        position: relative;
        height: fit-content;
        margin-left: auto;
        background: transparent;
        border: none;
        color: gray;
        top: 5px;
    }
}

.active-tab{
    border-bottom: 2px solid skyblue;
}