.backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    opacity: 0.5;
    background: black;
}

@mixin common-button-style {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: none;
    background: skyblue;
    color: white;
}

.alert-container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .alert-body{
        padding: 16px;
        background: white;
        z-index: 5;
        position: relative;
        .sub-header{
            color: gray;
        }
    }

    .button-container{
        display: flex;
        justify-content: flex-end;
        button{
            margin-right: 10px;
        }
    }
}

.alert-open {
    overflow: hidden;
}

button{
    @include common-button-style()
}

